html,body,#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
}
 
.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
 
.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
 
.bar {
	fill: #e1fb82;
}
 
.bar-failed {
	fill: #d5fdc0;
}
 
.bar-running {
	fill: #faf6ef;
}
 
.bar-succeeded {
	fill: #cccccc;
}
 
.bar-killed {
	fill: #9fe6f1;
}

.axis line{
	opacity: 0.3;
}


/* Clip path*/
.brush .extent {
  /*stroke: #fff;*/
  fill:	black;
  fill-opacity: .65;
  /*shape-rendering: crispEdges;*/
  /*clip-path: url(#clip);*/
}

rect.background{
	opacity: 0.5;
	fill: gray;
	visibility: inherit !important;
}
rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}