body {
    font-family: Sans-serif;
    font-size: 11px;
}

.slice {
    cursor: pointer;
}


.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}

#chart-wrapper{
    max-width: 1500px;
    min-height: 600px;
    margin: 0 auto;
}

#main {
float: left;
width: 1300px;
}

#sidebar {
    position: fixed;
    width: 300px;
    right: 0;
}

#sequence {
width: 1300px;
height: 70px;
}

#legend {
padding: 10px 0 0 3px;
}

#sequence text, #legend text {
font-weight: 600;
fill: #fff;
}

#chart {
position: relative;
}

#explanation {
position: absolute;
top: 260px;
left: 305px;
width: 140px;
text-align: center;
color: #666;
z-index: -1;
}

#percentage {
font-size: 2.5em;
}

.hide{
    display: none;
}

.error-msg{
    color: red;
}